@keyframes colorWave {
    0% {
        border-color: red;
    }
    50% {
        border-color: green;
    }
    100% {
        border-color: red;
    }
}

.variant-yellow {
    --bg-color: #111827FF;
    --bg-color-light: #e3f2fd;
    --text-color-hover: #ffffff;
    --box-shadow-color: rgba(76, 80, 86, 0.48);
}

.variant-blue  {
    --bg-color: #426cff;
    --bg-color-light: #e3f2fd;
    --text-color-hover: #ffffff;
    --box-shadow-color: rgba(76, 80, 86, 0.48);
}

.variant-gray {
    --bg-color: #cecfd5;
    --bg-color-light: #e3f2fd;
    --text-color-hover: #ffffff;
    --box-shadow-color: rgba(76, 80, 86, 0.48);
}



.card {
    width: 30%;
    height: 321px;
    background: #ffffff;
    border-top-right-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0 14px 26px rgba(0,0,0,0.04);
    transition: all 0.3s ease-out;
    text-decoration: none;
}

.card:hover {
    transform: translateY(-5px) scale(1.005) translateZ(0);
    box-shadow: 0 24px 36px rgba(0,0,0,0.11),
    0 24px 46px var(--box-shadow-color);
}

.card:hover .overlay {
    transform: scale(10) translateZ(0);
}

.card:hover .circle {
    border-color: var(--bg-color-light);
    background: var(--bg-color);
}

.card:hover .circle:after {
    background: var(--bg-color-light);
}

.card:hover svg path {
    fill: #000000;
}

.card svg path {
    fill: #ffffff;
}

.card:hover p {
    color: var(--text-color-hover);
}

.card:active {
    transform: scale(1) translateZ(0);
    box-shadow: 0 15px 24px rgba(0,0,0,0.11),
    0 15px 24px var(--box-shadow-color);
}

.card p {
    font-size: 17px;
    color: #4C5656;
    margin-top: 30px;
    z-index: 30;
    transition: color 0.3s ease-out;
}

.circle {
    width: 131px;
    height: 131px;
    border-radius: 50%;
    background: #fff;
    border: 2px solid var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease-out;
}

.circle:after {
    content: "";
    width: 121px;
    height: 121px;
    display: block;
    position: absolute;
    background: var(--bg-color);
    border-radius: 50%;
    top: 3px;
    left: 3px;
    transition: opacity 0.3s ease-out;
}

.circle svg {
    z-index: 31;
    transform: translateZ(0);
}

.overlay {
    width: 118px;
    position: absolute;
    height: 118px;
    border-radius: 50%;
    background: var(--bg-color);
    top: 4.5%;
    left: 50%;
    transform: translate(-50%, 50%);
    z-index: 0;
    transition: transform 0.3s ease-out;
}

@media (max-width: 768px) {
    .overlay {
        width: 86px;
        height: 86px;
        top: 15%
    }

    .circle {
        width: 99px;
        height: 99px;
    }

    .circle:after {
        width: 89px;
        height: 89px;
    }

    .card p {
        display: flex;
        align-items: center;
        font-size: 12px;
        font-weight: 700;
        text-align: center;
        height: 38px;
    }

    .card {
        border-top-right-radius: 0;
    }

    .card:active {
        transform: scale(1) translateZ(0);
        box-shadow: none;
    }
}